<div class="table table-responsive">
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        <% for (const product of products) {%>
            <tr>
                <td><%=product.title%></td>
                <td><%=product.price%></td>
                <td>
                    <img width="30px" src="<%=product.thumbnail %>" alt="<%=product.title%>">
                </td>
            </tr>
        <% } %>
    </table>
</div>
