<form action="/productos" method="POST">
    <div class="mb-3">
        <label for="title">Título</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="price">Precio</label>
        <input type="text" class="form-control" name="price" id="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail">Url</label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail">
    </div>

    <button class="btn btn-primary">Enviar</button>
</form>
