<div class="container">
    <h2>Centro de Mensajes</h2>
    <br>
    <a href="/" class="btn btn-secondary mb-3" role="button">Nuevo Producto</a>
    <a class="btn btn-secondary mb-3" role="button" href="/productos">Productos</a>
    <a href="/productos/test" class="btn btn-secondary mb-3" role="button">Productos Test</a>

    <form>
        <div class="mb-3">
            <label for="user">Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
        </div>
        <div class="mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apellido">
        </div>
        <div class="mb-3">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" name="edad" id="edad">
        </div>
        <div class="mb-3">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" name="alias" id="alias">
        </div>
        <div class="mb-3">
            <label for="avatar">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="avatar">
        </div>
        <div class="mb-3">
            <label for="msg">Mensaje</label>
            <textarea  rows="4"  class="form-control" name="msg" id="msg"></textarea>
        </div>

        <button type="button" class="btn btn-primary" onclick="enviarMensaje()">Enviar</button>
    </form>
    <hr>
    <div id="chat">
        <!- The messages are rendered here ->
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script src="/js/chat.js"></script>
