<div class="container">
    <div class="alert alert-success mt-3">
        <div class="row">
            <div class="col-12">
                <h2>Hasta luego {{ username }}</h2>
            </div>
        </div>
    </div>
</div>

<script src="/js/logout.js"></script>
