{{> saludo }}
<div class="container">
    <h2>Productos</h2>
    <br>
    <a href="/" class="btn btn-secondary mb-3" role="button">Nuevo Producto</a>
    <a href="/chat" class="btn btn-secondary mb-3" role="button">Centro de mensajes</a>
    <a href="/productos/test" class="btn btn-secondary mb-3" role="button">Productos test</a>
    <a href="/info" class="btn btn-secondary mb-3" role="button">Info</a>
    {{> table-products }}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
