{{> saludo }}
<div class="container">
    <h2>Productos test</h2>
    <br>
    <a href="/" class="btn btn-secondary mb-3" role="button">Nuevo Producto</a>
    <a href="/chat" class="btn btn-secondary mb-3" role="button">Centro de mensajes</a>
    <a href="/productos" class="btn btn-secondary mb-3" role="button">Productos</a>
    <a href="/info" class="btn btn-secondary mb-3" role="button">Info</a>
    <a class="btn btn-secondary mb-3" role="button" href="/info/compressed">Info Comprimida</a>
    {{> table-products }}
</div>
