<form method="post" action="/login">
    <div class="mb-3">
        <label for="username">Ingrese su nombre</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>


    <button  class="btn btn-success">Enviar</button>
</form>
