<div class="container">
    <h2>Productos</h2>
    <br>
    <a href="/" class="btn btn-secondary mb-3" role="button">Nuevo Producto</a>
    {{#if products}}
        {{> table-products }}
    {{else}}
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>
